
@{
    ViewData["Title"] = "UserReviews";
}
@model FMCApp.Web.Models.ViewModels.VisualizationModels.Comments.AllCommentsViewModel
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<h2>User Reviews for <strong>@ViewBag.MovieTitle</strong></h2>
<div style="overflow-y: auto; height:400px;">

    <div class="container">
        <div class="row">
            <h2>Comments @Model.Comments.Count() <div class="pull-right"><a href="#" id="addacomment" class="btn btn-primary">Add a coment</a> </div></h2>
        </div>
        <div class="row" id="addcomment" style="display: none;">
                <form asp-action="AddComments" asp-controller="UserReviews" asp-route-movieId="@ViewBag.MovieId" method="post">
                    @*<textarea class="form-control" placeholder="Comment content..."></textarea><br/>*@
                    <label asp-for="@Model.Comment.Content" class="text-center"></label>
                    <input asp-for="@Model.Comment.Content" class="form-control" placeholder="Comment content..."/>
                    <span asp-validation-for="@Model.Comment.Content" class="text-danger"></span>
                    <button class="btn btn-primary">Send</button>

                </form>
            </div>
        </div>
        <hr>
        @foreach (var comment in @Model.Comments)
        {
            <div class="container">
                <div class="row">
                    @*<div class="col-sm-8">*@
                        <div class="panel panel-white post panel-shadow">
                            <div class="post-heading">
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <b>@comment.Username</b>
                                        post a comment.
                                    </div>
                                    <h6 class="text-muted time">1 minute ago</h6>
                                </div>
                            </div> 
                            <div class="post-description"> 
                                <p overflow-wrap: break-word><strong>@comment.Content</strong></p>
                            </div>
                        </div>
                    @*</div>*@
                </div>
            </div>

   
        }
    </div>
</div>
@section Scripts{
    <script>
        $(document).on('click', '#addacomment', function () {
            $('#addcomment').toggle();
        });
    </script>
}
