
@{
    ViewData["Title"] = "UserReviews";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

}
@using System.Security.Claims
@using Humanizer
@using Microsoft.AspNetCore.Identity

@model FMCApp.Web.Models.ViewModels.VisualizationModels.Comments.AllCommentsViewModel
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<h2>User Reviews for <strong>@ViewBag.MovieTitle</strong></h2>
<div style="overflow-y: auto; height:400px;">

    <div class="container">
        <div class="row">
            <h2>Comments @Model.Comments.Count() <div class="pull-right"><a href="#" id="addacomment" class="btn btn-primary">Add a coment</a> </div></h2>
        </div>
        <div class="row" id="addcomment" style="display: none;">
            <form asp-action="AddComments" asp-controller="UserReviews" asp-route-movieId="@ViewBag.MovieId" method="post">
                @*<textarea class="form-control" placeholder="Comment content..."></textarea><br/>*@
                <label asp-for="@Model.Comment.Content" class="text-center"></label>
                <input asp-for="@Model.Comment.Content" class="form-control" placeholder="Comment content..." />
                <span asp-validation-for="@Model.Comment.Content" class="text-danger"></span>
                <button class="btn btn-primary">Send</button>

            </form>
        </div>
    </div>
    <hr>
    @foreach (var comment in @Model.Comments)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="comments-list">
                        <div class="media">
                            <div class="media-body">

                                <h4 class="media-heading user_name">@comment.Username</h4>
                                @if (User.Identity.IsAuthenticated || User.IsInRole("Administrator"))
                                {
                                    
                                    <form asp-controller="UserReviews" asp-action="DeleteComment" asp-route-id="@comment.Id" method="post">
                                        <button type="submit" class="close" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </form>
                                }


                                <p class="pull-right"><small>@comment.AddedOn.Humanize().</small></p>
                                <div><strong>@comment.Content</strong></div>

                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script>
        $(document).on('click', '#addacomment', function () {
            $('#addcomment').toggle();
        });
    </script>
}
