
@{
    ViewData["Title"] = "Details";
}
@model FMCApp.Web.Models.ViewModels.VisualizationModels.Movies.MovieDetailsViewModel
<!------ Include the above in your HEAD tag ---------->
    <div class="card">
        <div class="row">
            <aside class="col-sm-5 border-right">
                <article class="gallery-wrap">
                    <div class="img-big-wrap">
                        <div>
                            <img src="@Model.MoviePosterUrl" width="380" height="700" class="img-responsive">
                        </div>
                    </div> <!-- slider-product.// -->
                </article> <!-- gallery-wrap .end// -->
            </aside>
            <aside class="col-sm-7">
                <article class="card-body p-5">
                    <h3 class="title mb-3">@Model.Title</h3>
                    @*<p class="price-detail-wrap">
                        <span class="price h3 text-warning">
                            <span class="currency">US $</span><span class="num">1299</span>
                        </span>
                        <span>/per kg</span>
                    </p>*@ 
                    <dl class="item-property">
                        <dt>Genre:</dt>
                        <dd>
                            <p>@Model.Genre</p>
                        </dd>
                    </dl>
                    <dl class="item-property">
                        <dt>Description:</dt>
                        <dd>
                            <p>
                                @Model.Description
                            </p>
                        </dd>
                    </dl>
                    <dl class="param param-feature">
                        <dt>Director:</dt>
                        <dd> <a asp asp-controller="Directors" asp-action="Details">@Model.Director</a></dd> 
                    </dl>  <!-- item-property-hor .// -->
                    <dl class="param param-feature">
                        <dt>Release Date:</dt>
                        <dd>@Model.ReleaseDate.Value.ToShortDateString() @Model.ReleaseDate.Value.Year</dd>
                    </dl> 
                    <hr>
                    <a href="#" class="btn btn-lg btn-success text-uppercase">+ Add to Watchlist</a>
                    <a href="#" class="btn btn-lg btn-info text-uppercase">Comments</a>
                </article> <!-- card-body.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
<!--container.//-->
