
@model FMCApp.Web.Models.ViewModels.VisualizationModels.Shared.IndexNewsMoviesViewModel
<div class="tm-main-content">
    <div class="tm-content-box tm-content-box-home">
        <img src="~/images/testImage.jpg" alt="Nature" class="responsive"/>
        <div class="tm-welcome-boxes-container">
            @foreach (var news in Model.Newses)
            {
                <div class="tm-welcome-box">
                    <div class="tm-welcome-text">
                        @if (news.Title.Length > 40)
                        {
                            <h2 class="tm-section-title">@(news.Title.Substring(0, 40) + "...")</h2>
                        }
                        @if (news.HtmlContent.Length > 100)
                        {
                            <p>@(news.HtmlContent.Substring(0, 100) + "...")</p>
                        }
                    </div>
                    <a asp-controller="News" asp-action="Details" asp-route-id="@news.Id" class="tm-welcome-link tm-button">Read more...</a>
                </div>
            }

        
        </div>
    </div>
    <div id="gallery" class="tm-content-box">
        <div class="grid tm-gallery">
            @foreach (var movie in Model.Movies)
            {

                <figure class="effect-bubba">
                    <img src="@movie.MoviePosterUrl" alt="Image 8" class="img-fluid"/>
                    <figcaption>
                        <h2><span>@movie.Title</span></h2>
                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id"> View more</a>
                    </figcaption>
                </figure>
            }
        </div>
    </div>
</div>
