
@{
    ViewData["Title"] = "Watchlist";


    int totalMovies = Model.userWatchlist.Count();

}
@model FMCApp.Web.Models.ViewModels.VisualizationModels.Watchlist.AllUserWatchlistViewModel
@using Humanizer
<div class="tm-welcome-link tm-button">Movies in your list: @totalMovies</div>
<hr />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
@*<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>*@
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div style="overflow-y: auto; height:520px;">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="table-active">
                    <table class="table table-responsive">
                        @foreach (var movie in @Model.userWatchlist)
                        {
                            <tbody>
                            <div class="media">
                                <a href="#" class="pull-left">
                                    <img src="@movie.MoviePosterUrl" width="128" height="128" class="media-photo">
                                </a>
                                <div class="media-body">
                                    <span class="pull-right">Added: @movie.AddedOn.Humanize()</span>
                                    <h4>
                                        @movie.MovieTitle
                                    </h4>
                                    <div class="pull-right">(@movie.Genre)</div>
                                    @if (movie.Description.Length > 100)
                                    {
                                        <p>@(movie.Description.Substring(0,100) + "...")</p>
                                    }
                                    <div>
                                        <a asp-controller="#" asp-action="#" asp-route-id="#"class="btn btn-danger text-uppercase">Remove</a>
                                    </div>
                                </div>
                            </div>
                            </tbody>
                        }

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

